.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  font-size:25px;
  background-color: r#aae3ff;
  text-align: center;
  height: 80px;
  padding-top: 30px;
  margin-top: 790px;
  margin-bottom: 0px;
  color: black;

}
.navbar{
  position: relative;
  display: flex;
  background-color: #aae3ff;
  height: 110px;
  font-size: 20px;
  color: black;
  padding-right: 350px;
}
.h4header{
  font-size: 45px;
  padding-left: 340px;
}

.headerFeed{
  padding-right: 10px;
}
.headerPeople{
  border-right: 2px solid black;
  border-left: 2px solid black; 
  padding-left: 10px;
  padding-right:10px;
}

.headerProfile{
  padding-left:10px; 
  padding-right: 70px;
}
/* .nav-link{
  color: white !important;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.feedPosts {
  text-align: center;
  margin: 50px;
  box-shadow: 40px gray;
}

.postBody {
  margin: 50px auto;
  width: 600px;
  background-color:lightblue;
  border: 1px solid gray;
  
}



iframe, img {
width: 100%;
height: 100%;
border: 1px solid #aae3ff;

}


.card-text {
  display: inline-block;
text-align: left;
}

.card-link {
  display: inline-block;
  float: right;
  
}


