.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  font-size:25px;
  background-color: rgb(8, 82, 192);
  text-align: center;
  height: 80px;
  padding-top: 30px;
  margin-top: 790px;
  margin-bottom: 0px;
  color: white;

}
.navbar{
  position: relative;
  display: flex;
  background-color: rgb(8, 82, 192);
  height: 110px;
  font-size: 20px;
  color: white;
  padding-right: 350px;
}
.h4header{
  font-size: 45px;
  padding-left: 340px;
}

.headerFeed{
  padding-right: 10px;
}
.headerPeople{
  border-right: 2px solid white;
  border-left: 2px solid white; 
  padding-left: 10px;
  padding-right:10px;
}

.headerProfile{
  padding-left:10px; 
  padding-right: 70px;
}
.nav-link{
  color: white !important;
}
.picture{
  border-radius: 50px;
  width: 200px;
  height: 200px;
  margin: 20px 50px 0px 50px;
  border: 1px solid black;
}
.paragraph{
  text-align: center;
  font-size: 10px;
}
.posts{
  display: inline;
  border:1px solid black;
}
.comments{
  display: inline;
  border:1px solid black;  
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.feedPosts {
  text-align: center;
  margin: 50px;
  box-shadow: 40px gray;
}